/*
    Paleta de cores
    Verde: #49a09d
    Lilas: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #653585cb;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: url('../imagens/pexels-luana-scorsoni-2154631905-33448110.jpg') no-repeat;
    background-size: cover;
    background-position: left bottom;
    /* height: 200px; */
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

    display: flex;
    align-items: center;
    overflow: hidden;
}

div.campo > label {
    display: block;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    text-align: center;
    padding: 5px;
    flex-shrink: 0;
}

div.campo > input {
    background-color: #86ddda;
    font-size: 1em;
    border: none;

    height: 100%;
    flex: 1;
    padding: 0 10px;
    border-radius: 0;
    outline: none;

    transform: none;
    margin: 0;
    width: auto;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #285251;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    color: #2d6462;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}

form > a.botao > span {
    font-size: 0.8em;
}